.quoteSection {
    background: url("./../../../../assets/images/projects/computer-desk-hand-374631.jpg") no-repeat;
    background-size: cover;
    padding: 110px 20px;
    /* background-attachment: fixed !important; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.quote {
    padding-top: 30px;
}

.presentation {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    /* transform: translate(-50%, -50%); */
}

@media screen and (max-width:425px) {
    .quote {
        padding-top: 0;
    }
}