.contactSection {
    background: #1ab394;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: rgb(41, 39, 39);
    overflow: hidden;
    height: 300px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.51); */
}

.contactSection img {
    width: 200px;
}

.social {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.1rem solid #ffffff;
    border-radius: 100%;
    font-size: 1.4rem;
    line-height: 3.2rem;
    transition: 0.2s background linear, 0.2s color linear;
}

.social:hover {
    background-color: #727070;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.icon-twitter {
    color: #099af5;
}

.icon-github {
    color: rgb(0, 0, 0);
}

.icon-linkedin {
    color: rgb(0, 119, 181);
}