.jumbo {
    background: url("./images/personalImg.jpg") no-repeat top center;
    position: relative;
    background-size: cover;
    color: rgb(41, 39, 39);
    overflow: hidden;
    height: 100vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.51); */
    z-index: -1;
}

.presentation {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    /* transform: translate(-50%, -50%); */
}

.headerTitleOverlay {
    height: 190px;
    position: absolute;
    margin-top: -40px;
    /* font-size: 4.625rem; */
    bottom: 19%;
    left: 7%;
    right: 3%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}

@media screen and (max-width:425px) {
    .headerTitleOverlay {
        height: 50px;
        width: 100%;
        /* font-size: 2.5rem!important; */
    }
}

.photo-overlay {
    color: #fff;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    /* For centering text inside .photo-overlay */
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: opacity .5s;
}

.photo-overlay:hover {
    opacity: 1;
}

#presentationText {
    -webkit-animation: 3s ease-in 0s normal forwards 1 fadein;
    animation: 3s ease-in 0s normal forwards 1 fadein;
}