/***********
   GENERAL
   ********/

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

body {
    background-color: rgb(255, 254, 253);
    font-family: 'Alice', serif;
    font-size: 1rem;
    /* color: rgb(77, 77, 77) !important; */
}

h1 {
    font-size: 4.5rem;
    font-family: 'Noto Serif SC', serif;
    color: rgb(226, 224, 224);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 70px !important;
    /* text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 rgb(131, 36, 36); */
}

h2 {
    margin-top: 30px;
}

h4 {
    font-size: 1.5em;
}

strong {
    color: #1ab394;
    font-weight: 400;
    text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 #ccc;
}


/***********
   NAV
   ********/

nav {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: #24292e;
    color: rgb(255, 255, 255);
    box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4);
}

.nav-link {
    color: white!important;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

img {
    width: 100%;
}

.img-fluid {
    width: 100%;
    transition: transform 1s cubic-bezier(.7, -0.39, .31, 1.38);
    box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4);
}

.img-fluid:hover {
    transform: scale(1.2);
}

.presentation {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    /* transform: translate(-50%, -50%); */
}

#aboutMe p {
    font-size: 1.31429rem;
}

.autoWidth {
    width: 70%;
    margin: auto auto;
}

#projectsTitle {
    padding-top: 80px;
}

#main p {
    font-size: 1.2rem;
}

.container-image {
    background-color: #f0f0f0 !important;
}

.greenFav {
    color: #00af83;
    border-color: #00af83;
}


/***** hr style *****/

.underlined {
    width: 7em;
    border-color: #1ab394!important;
    margin-bottom: 70px;
}

.hrStyle {
    border-color: rgb(219, 217, 217) !important;
}

#floating-action-button {
    bottom: 10px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1ab394;
}

.flex-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bg-white {
    background-color: #fff !important;
}

.height-600 {
    min-height: 350px;
}

#presentationText {
    -webkit-animation: 3s ease-in 0s normal forwards 1 fadein;
    animation: 3s ease-in 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/***** Media query *****/

@media only screen and (max-width: 785px) {
    html {
        font-size: 80%!important;
    }
}

@media screen and (max-width: 1199px) {
    /* * {
        transition: ease all 0.5s;
    } */
    .nav__spans span {
        height: 2px;
        width: 30px;
        margin-bottom: 5px;
        border-radius: 6px;
    }
    .nav__spans {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .nav__spans span:nth-child(1) {
        background-color: #1ab394;
    }
    .nav__spans span:nth-child(2) {
        background-color: #6372fc;
    }
    .nav__spans span:nth-child(3) {
        background-color: #f42a73;
    }
    .nav__spans span:nth-child(4) {
        background-color: #fce263;
    }
}


/***********
   LINKS
   ********/

a {
    text-decoration: none;
    color: #111;
    cursor: pointer!important;
}

a:hover {
    color: #0f0f0f;
    text-decoration: none;
    cursor: pointer;
}

.hoverLine {
    text-decoration: none;
    color: black;
    position: relative;
}

.hoverLine:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #1ab394;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hoverLine:hover:before {
    text-decoration: none;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.icon-twitter {
    color: #099af5;
}

.icon-instagram {
    color: #e71f44;
}

.icon-github {
    color: rgb(0, 0, 0);
}

.icon-linkedin {
    color: rgb(0, 119, 181);
}

.fa-html5 {
    color: #DD4B25;
}

.fa-css3 {
    color: #2196F3;
}

.fa-js-square {
    color: #EFD81D;
}

.fa-2x {
    margin-right: 5px;
}

.fa-eye {
    color: #1ab394;
}

.fa-sass {
    color: #C96195;
}

.fa-code-branch {
    color: black;
}