/***********
   GENERAL
   ********/

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

body {
    font-family: 'Alice', serif !important;
    background-color: rgb(255, 254, 253);
    font-size: 1rem;
    /* color: rgb(77, 77, 77) !important; */
    overflow-y: auto;
}

h1 {
    font-size: 4.5rem;
    color: rgb(226, 224, 224);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 70px !important;
    /* text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 rgb(131, 36, 36); */
}

h2 {
    margin-top: 30px;
}

h4 {
    font-size: 1.5em;
}

strong {
    color: #1ab394;
    font-weight: 400;
}

img {
    width: 100%;
}

.img-fluid {
    width: 100%;
    transition: transform 1s cubic-bezier(.7, -0.39, .31, 1.38);
    box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4);
}

.img-fluid:hover {
    transform: scale(1.2);
}

#aboutMe p {
    font-size: 1.31429rem;
}

.autoWidth {
    width: 70%;
    margin: auto auto;
}

#projectsTitle {
    padding-top: 80px;
}


/***** hr style *****/

.underlined {
    width: 8em;
    border: 2px solid #1ab394!important;
    margin-bottom: 70px;
}

.hrStyle {
    border-color: rgb(219, 217, 217) !important;
}

.flex-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bg-white {
    background-color: #fff !important;
}

.height-600 {
    min-height: 350px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/***** Media query *****/

@media only screen and (max-width: 785px) {
    html {
        font-size: 80%!important;
    }
}


/***********
   LINKS
   ********/

a {
    text-decoration: none;
    color: #111;
    cursor: pointer!important;
}

a:hover {
    color: #0f0f0f;
    text-decoration: none;
    cursor: pointer;
}

.hoverLine {
    text-decoration: none;
    color: black;
    position: relative;
}

.hoverLine:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #1ab394;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hoverLine:hover:before {
    text-decoration: none;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-contact {
    background-color: #24292e!important;
    color: hsla(0, 0%, 100%, .75)!important;
}